* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #316dca;
  --color-header-bg: #2d333b;
  --color-header-search-bg: #22272e;
  --color-header-search-border: #444c56;
  --color-header-text: rgba(205, 217, 229, 0.7);
  --color-fg-muted: #768390;
  --color-canvas-default: #22272e;
  --color-repo-bg: #22272e;
  --color-fg-default: #adbac7;
}

body {
  background-color: var(--color-canvas-default);
}

.search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.search-user {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--color-header-search-border);
  background-color: var(--color-header-bg);
  width: 22rem;
  height: 4rem;
  border-radius: 0.5rem;
}

.search-icon {
  width: 2rem;
  height: 2rem;
}

.search-input {
  background-color: transparent;
  border: 0px solid;
  font-size: 1rem;
  width: 15rem;
  height: 2rem;
  color: var(--color-header-text);
}

.search-input:focus {
  outline: none;
}

.search-button {
  border: none;
  height: 2.5rem;
  width: 4.5rem;
  border-radius: 0.5rem;
  background-color: var(--blue);
  cursor: pointer;
}

.search-button:hover {
  transition: 0.2s;
  background-color: #4a6a96;
}

.search-text {
  font-size: 0.94rem;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  height: 39rem;
  width: 22rem;
  background-color: var(--color-header-bg);
  border: 1px solid var(--color-header-search-border);
  border-radius: 0.5rem;
}

.user-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  width: 21rem;
}

.user-avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  width: 6rem;
  height: 6rem;
  border: transparent;
}

.user-card-img {
  border-radius: 5rem;
  border: transparent;
  width: 6rem;
  height: 6rem;
}

.user-info-container {
  width: 13.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 6rem;
  margin-top: 1rem;
}

.user-name {
  color: var(--color-fg-default);
}

.user-email {
  font-size: 0.98rem;
  color: var(--color-fg-default);
}

.user-date {
  color: var(--color-fg-default);
}

.user-bio-container {
  width: 20rem;
  height: 5rem;
  margin-top: 2rem;
}

.user-bio {
  color: var(--color-fg-default);
}

.show-repos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20rem;
  height: 7rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  background-color: var(--color-repo-bg);
}

.repo-text-header {
  display: flex;
  justify-content: space-evenly;
}

.repo-display-container {
  display: flex;
  justify-content: space-around;
}

.repo-text {
  color: var(--color-fg-muted);
  font-size: 1.15rem;
  letter-spacing: 0.02rem;
}

.repo-display-text {
  color: var(--color-fg-default);
}

.user-info-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  width: 20rem;
  height: 10rem;
}

.location-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.twitter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.3rem;
}

.blog-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.1rem;
}

.blog-link {
  color: var(--color-fg-default);
  font-size: 1.2rem;
  width: 22rem;
  text-decoration: none;
  cursor: pointer;
}

.blog-link:hover {
  color: var(--color-fg-muted);
}

.company-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.location-text {
  color: var(--color-fg-default);
}

.twitter-text {
  color: var(--color-fg-default);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.blog-text {
  color: var(--color-fg-default);
  width: 18rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.user-website-url {
  color: var(--color-fg-default);
  font-size: 1.2rem;
  width: 22rem;
  text-decoration: none;
  cursor: pointer;
}

.user-website-url:hover {
  color: var(--color-fg-muted);
}

.company-text {
  color: var(--color-fg-default);
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.fa-location-dot {
  color: var(--color-fg-muted);
}

.fa-twitter {
  color: var(--color-fg-muted);
}

.fa-link {
  color: var(--color-fg-muted);
}

.fa-building {
  color: var(--color-fg-muted);
}

/* small tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .search-user {
    display: flex;
    justify-content: space-around;
    width: 32rem;
  }

  .search-input {
    width: 22rem;
  }

  .search-button {
    width: 7rem;
  }

  .search-button:hover {
    transition: 0.2s;
    background-color: #4a6a96;
  }

  .search-text {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
  }

  .display-user-card {
    width: 32rem;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-card-header {
    height: 10rem;
    width: 30rem;
  }

  .user-avatar-container {
    width: 8.5rem;
    height: 8.5rem;
  }

  .user-card-img {
    width: 8.5rem;
    height: 8.5rem;
  }

  .user-bio-container {
    width: 30rem;
  }

  .show-repos {
    width: 30rem;
    justify-content: space-evenly;
  }

  .repo-text-header {
    justify-content: space-around;
    gap: 3rem;
  }

  .repo-display-container {
    gap: 9rem;
    justify-content: flex-start;
    padding-left: 1.9rem;
  }

  .user-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 30rem;
    margin-top: 1rem;
  }

  .location-container {
    gap: 0.8rem;
    height: 3rem;
    width: 12rem;
  }

  .twitter-container {
    gap: 0.8rem;
    height: 3rem;
    width: 10rem;
  }

  .blog-container {
    gap: 0.5rem;
    height: 3rem;
    width: 17rem;
  }

  .user-website-url {
    color: var(--color-fg-default);
    font-size: 1.2rem;
    width: 22rem;
    text-decoration: none;
    cursor: pointer;
  }

  .user-website-url:hover {
    color: var(--color-fg-muted);
  }

  .company-container {
    gap: 0.8rem;
    height: 3rem;
    width: 10rem;
  }

  .blog-text {
    width: 14.3rem;
  }
}

/* large tablets and laptop styles */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .search-user {
    display: flex;
    justify-content: space-around;
    width: 42rem;
  }

  .search-input {
    width: 32rem;
  }

  .search-button {
    width: 8rem;
  }

  .search-button:hover {
    transition: 0.2s;
    background-color: #4a6a96;
  }

  .search-text {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
  }

  .display-user-card {
    width: 42rem;
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-card-header {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    height: 12rem;
    width: 38rem;
  }

  .user-avatar-container {
    width: 9.5rem;
    height: 9.5rem;
  }

  .user-card-img {
    width: 9.5rem;
    height: 9.5rem;
  }

  .user-info-container {
    margin-top: 0;
  }

  .user-bio-container {
    width: 38rem;
  }

  .show-repos {
    width: 38rem;
    justify-content: space-evenly;
  }

  .repo-text-header {
    justify-content: space-between;
    gap: 0;
    padding: 0 6rem 0 2rem;
  }

  .repo-display-container {
    gap: 0rem;
    display: flex;
    justify-content: space-between;
    padding: 0 9.5rem 0 1.9rem;
  }

  .user-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 0;
    width: 38rem;
    margin-top: 1rem;
  }

  .location-container {
    gap: 0.8rem;
    height: 3rem;
    width: 18rem;
  }

  .twitter-container {
    gap: 0.8rem;
    height: 3rem;
    width: 15rem;
  }

  .blog-container {
    gap: 0.5rem;
    height: 3rem;
    width: 18rem;
  }

  .user-website-url {
    color: var(--color-fg-default);
    font-size: 1.2rem;
    width: 22rem;
    text-decoration: none;
    cursor: pointer;
  }

  .user-website-url:hover {
    color: var(--color-fg-muted);
  }

  .company-container {
    gap: 0.8rem;
    height: 3rem;
    width: 15rem;
  }
}

/* large desktops/laptops style */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .search-user {
    display: flex;
    justify-content: space-around;
    width: 55rem;
  }

  .search-input {
    width: 45rem;
  }

  .search-button {
    width: 8rem;
  }

  .search-button:hover {
    transition: 0.2s;
    background-color: #4a6a96;
  }

  .search-text {
    font-size: 1.1rem;
    letter-spacing: 0.15rem;
  }

  .display-user-card {
    width: 55rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .user-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    height: 11rem;
    width: 50rem;
  }

  .user-avatar-container {
    width: 10rem;
    height: 10rem;
  }

  .user-card-img {
    width: 10rem;
    height: 10rem;
  }

  .user-info-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0;
    width: 35rem;
    height: 7rem;
  }

  .user-email {
    margin-bottom: 3rem;
    font-size: 1.1rem;
  }

  .user-date {
    order: 1;
    align-self: flex-end;
    margin-bottom: 4.8rem;
  }

  .user-bio-container {
    width: 35rem;
    margin: 0 0 0 13.5rem;
  }

  .show-repos {
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 13.5rem;
    gap: 0;
  }

  .repo-text-header {
    display: flex;
    justify-content: space-around;
    width: 35rem;
  }

  .repo-display-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35rem;
  }

  .repo-display-text {
    width: 4.5rem;
  }

  .user-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 35rem;
    margin: 0 0 1rem 13.5rem;
    height: 8rem;
    gap: 0;
  }

  .location-container {
    gap: 0.8rem;
    height: 3rem;
    width: 15rem;
  }

  .location-text {
    font-size: 1rem;
  }

  .twitter-container {
    gap: 0.5rem;
    height: 3rem;
    width: 12rem;
  }

  .twitter-text {
    font-size: 1rem;
  }

  .blog-container {
    gap: 0.5rem;
    height: 5rem;
    width: 15rem;
  }

  .user-website-url {
    color: var(--color-fg-default);
    font-size: 1.2rem;
    width: 22rem;
    text-decoration: none;
    cursor: pointer;
  }

  .user-website-url:hover {
    color: var(--color-fg-muted);
  }

  .company-container {
    gap: 0.5rem;
    height: 3rem;
    width: 12rem;
  }

  .company-text {
    font-size: 1rem;
  }
}

/* x-large desktops/laptops/screens style */
@media screen and (min-width: 1400px) {
  .search-user {
    display: flex;
    justify-content: space-around;
    width: 70rem;
  }

  .search-input {
    width: 60rem;
  }

  .search-button {
    width: 8rem;
    cursor: pointer;
  }

  .search-button:hover {
    transition: 0.2s;
    background-color: #4a6a96;
  }

  .search-text {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
  }

  .display-user-card {
    width: 70rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .user-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    height: 13rem;
    width: 65rem;
  }

  .user-avatar-container {
    width: 12rem;
    height: 12rem;
  }

  .user-card-img {
    width: 12rem;
    height: 12rem;
  }

  .user-info-container {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 0;
    width: 45rem;
    height: 8rem;
  }

  .user-name {
    font-size: 2.2rem;
  }

  .user-email {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }

  .user-date {
    order: 1;
    align-self: flex-end;
    margin-bottom: 4.5rem;
    font-size: 1.1rem;
  }

  .user-bio-container {
    width: 45rem;
    margin: 0 0 0 17.5rem;
  }

  .show-repos {
    width: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 17.5rem;
    gap: 0;
  }

  .repo-text-header {
    display: flex;
    justify-content: space-around;
    width: 45rem;
  }

  .repo-display-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45rem;
  }

  .repo-display-text {
    width: 4.5rem;
  }

  .user-info-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 45rem;
    margin: 0 0 1rem 17.5rem;
    height: 10rem;
    gap: 0;
  }

  .location-container {
    gap: 0.8rem;
    height: 3rem;
    width: 15rem;
  }

  .location-text {
    font-size: 1rem;
  }

  .twitter-container {
    gap: 0.5rem;
    height: 3rem;
    width: 15rem;
  }

  .twitter-text {
    font-size: 1rem;
  }

  .blog-container {
    gap: 0.5rem;
    height: 5rem;
    width: 25rem;
  }

  .user-website-url {
    color: var(--color-fg-default);
    font-size: 1.2rem;
    width: 22rem;
    text-decoration: none;
    cursor: pointer;
  }

  .user-website-url:hover {
    color: var(--color-fg-muted);
  }

  .company-container {
    gap: 0.5rem;
    height: 3rem;
    width: 15rem;
  }

  .company-text {
    font-size: 1rem;
  }
}
